.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.text3 {

  position: absolute;
  bottom: 80%;
  left: 22%;
  font-size: 36px;
  font-style: normal;
  font-weight: bold;
}

.text1 {

  position: absolute;
  bottom: 40%;
  left: 22%;
  font-size: 72px;
  font-style: normal;
  color: #edb230;
  font-weight: bold;
}

.text2 {
  position: absolute;
  bottom: 20%;
  left: 22%;
  font-size: 25px;
  font-style: normal;
  font-weight: bold;

}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
