* {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Aclonica";
  src: url();
}

/*
.page {
    height: 100vh;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
*/

.title {
  font-size: x-large;
}

.web-dashboard {
  width: 30em;
  height: 35em;
  position: relative;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  bottom: 95%;
  left: 36%;
}

#light .web-dashboard {
  background-color: white;
}

#dark .web-dashboard {
  background-color: #373c46;
}

.username-show,
.scans-count,
.is-admin {
  width: 25vh;
  height: 10vh;
  align-items: center;
  text-align: center;
  background-color: rgb(185, 185, 185);
  border-radius: 25px;
}

.submit-scan-btn {
  width: 40%;
  height: 3em;
  background-color: rgb(32, 177, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 1em;
  cursor: pointer;
  position: relative;
  left: 30%;
}

.submit-scan-btn:hover {
  transform: scale(1.2);
}
