body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.web-container {
  position:fixed;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
}

#light {
  background-color: white;
}

#dark {
  background-color: #282c34;
}

.switch {
  display: flex;
  width: 100vw;
  height: 100px;
  position: fixed;
  bottom: 0%;
  justify-content: center;
  align-items: center;
}

.scanning-panel {
  width: 30em;
  height: 35em;
  position: relative;
  border-radius: 1em;
  box-shadow: 0 0.188em 1.55em rgb(156, 156, 156);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  bottom: 95%;
  left: 36%;
}

label, p {
  font-family: Aclonica;
}

.switch label {
  margin: 10px;
}

#light label, #light p,  #light h3, #light .scanning-panel li {
  color: black;
}

#dark label, #dark p, #dark h3, #dark .scanning-panel li {
  color: white;
}

.web-sidebar {
  position: relative;
  display: flex;
  height: 100%;
}

.Home p {
  position: absolute;
  top: 16%;
  left: 22%;
  font-size: 34px;
  font-style: normal;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
