* {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Aclonica";
  src: url();
}

.page {
  height: 100vh;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: x-large;
}

p#signup,
div#signup,
input#login {
  display: none;
}

.forgot-pwd-btn p,
.switch-action-btn p {
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

div.password-req#login {
  color: red;
  font-size: small;
  position: relative;
  bottom: 20%;
}

.web-login,
.web-signup,
.scanning-panel {
  width: 30em;
  height: 35em;
  position: relative;
  border-radius: 1em;
  box-shadow: 0 0.188em 1.55em rgb(156, 156, 156);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  bottom: 95%;
  left: 36%;
}

#light .web-login {
  background-color: white;
}

#dark .web-login {
  background-color: #373c46;
}

input {
  border: none;
  background-color: rgb(229, 226, 226);
  height: 4em;
  width: 80%;
  border-radius: 0.25em;
  text-align: center;
  padding: 2em;
  position: relative;
  left: 10%;
}

input:focus {
  outline-color: rgb(32, 177, 255);
}

.username,
.verifecation-code {
    bottom: 35%;
}

.password,
.new-pass {
    bottom: 30%;
}

.verify-password,
.phone {
    bottom: 25%;
}

.phone-number {
    bottom: 20%;
}

.password-req {
  position: relative;
  bottom: 15%;
  left: 2%;
}

.login-btn {
  width: 40%;
  height: 3em;
  background-color: rgb(32, 177, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 0.25em;
  cursor: pointer;
  position: relative;
  left: 30%;
}

.login-btn:hover {
  transform: scale(1.2);
}

form#verify
{
    display: none;
}

/*

.alt-login {
    width: 80%;
    height: 3em;
    display: flex;
    justify-content: space-around;
    position: relative;
    left: 15%;
}

.alt-login div {
    width: 45%;
    height: 90%;
    border-radius: 0.25em;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

#light .alt-login div {
    background-color: black;
}

#dark .alt-login div {
    background-color: white;
}

.google {
    background-image: url("./icons/google.png");
}

.facebook {
    background-image: url("./icons/facebook.png");
}


                <p className="text">Or Login using</p>

                <br />

                <div className="alt-login">
                    <div className="facebook"></div>
                    <div className="google"></div>
                </div>

*/