
.admin-panel
{
  width: 40em;
  height: 40em;
  position: absolute;
  border-radius: 1em;
  box-shadow: 0 0.188em 1.55em rgb(156, 156, 156);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  top: 5%;
  left: 35%;
}